/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  width: 80px;
  height: 80px;
  background: var(--secondaryColor);
  padding: 20px;
  box-sizing: border-box;
  animation: square 2s infinite;
}

.circle {
  width: 40px;
  height: 40px;
  background: var(--tertiaryColor);
  border-radius: 50%;
  animation: circle 2s infinite;
}

@keyframes square {
  0% {
    transform: rotate(0deg) scale(1) translateX(0);
    border-radius: 0;
    background: var(--secondaryColor);
  }

  25% {
    transform: rotate(360deg) scale(.5) translateX(50px);
    border-radius: 50%;
    background: var(--tertiaryColor);
  }

  50% {
    transform: rotate(360deg) scale(.5) translateX(0);
    border-radius: 50%;
    background: var(--tertiaryColor);
  }

  75% {
    transform: rotate(360deg) scale(.5) translateX(-50px);
    border-radius: 50%;
    background: var(--tertiaryColor);
  }

  100% {
    transform: rotate(720deg) scale(1) translateX(0);
    border-radius: 0%;
    background: var(--secondaryColor);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) scale(.5) translateY(0);
    border-radius: 0;
    background: var(--tertiaryColor);
  }

  50% {
    transform: rotate(-720deg) scale(1.5) translateY(50px);
    border-radius: 0%;
    background: var(--secondaryColor);
  }

  100% {
    transform: rotate(-1440deg) scale(.5) translateY(0);
    border-radius: 50%;
    background: var(--tertiaryColor);
  }
}